mail/HR_list.txt
.idea/misc.xml
.idea/modules.xml
.idea/utilities.iml
.idea/workspace.xml
MouseKeyboardAutomation/.idea/workspace.xml
cs707Parser/.idea/workspace.xml
cs707Parser/ByPortJSON2.json
cs707Parser/ByPortJSON3.json
cs707Parser/T1_OT2CSV_nov15.csv
mail/HR_list_test.txt
mail/helper.py
mail/sendHRMail.py
mail/sentList.txt
mail/unsentList.txt
mail/*
